<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
      <th>Id</th>
      <th>label</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let ts of secteurs,index as i">
        <td>{{ts.id}}</td>
        <td>{{ts.label}}</td>
        <td><button class="btn btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button></td>
        <td><button class="btn btn-warning" (click)="update(i,ts)"><i class="fa fa-edit"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
